*{
    background-color: black;
    color: white;
}
.head{
    background-color: black;
    color: white;
    padding: 20px;
} 
li{
    display: inline;
    color: gray;
    cursor: pointer;
    margin-top: 30px;
}
.french{
    text-align: center;

}
.cro{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.hot{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.beg{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.boe{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.coq{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.esc{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.rat{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
button{
    background-color: white;
    color: black;
    display: inline;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
}
.thanks{
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 2px;
    border-color: white;
    border-style: solid;  
}
.copy{
    color: gray;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}
