*{
    background-color: black;
    color: white;
}
.head{
    background-color: black;
    color: white;
    padding: 20px;
} 
li{
    display: inline;
    color: gray;
    cursor: pointer;
    margin-top: 30px;
}
.jap{
    text-align: center;

}
.cri{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.oko{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.ram{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.tem{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.ton{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.wag{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
.sushi{
    border: 7px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    display: inline-block;
}
button{
    background-color: white;
    color: black;
    display: inline;
    cursor: pointer;
}
button:hover{
    background-color: green;
    color: white;
}
.thanks{
    display: inline-block;
    text-align: center;
    padding: 20px;
    border: 2px;
    border-color: white;
    border-style: solid;  
}
.copy{
    color: gray;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}
